docXSDWorkers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Workers">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Worker">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="lastName" type="xs:string" />
                    <xs:element name="firstName" type="xs:string" />
                    <xs:element name="middleName" type="xs:string" />
                    <xs:element name="birthDate" type="xs:string" />
                    <xs:element name="degreeId" type="xs:unsignedByte" />
                    <xs:element name="positionId" type="xs:unsignedByte" />
                    <xs:element name="parentId" type="xs:byte" />
                     <xs:element name="salery" type="xs:byte" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
</xs:schema>